* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
	align-items: center;
	justify-content: center;
}
header, main, footer {
	max-width: 900px;
	margin: 0 auto;
}
main {
	max-width: 850px;
}
header {
	max-height: 150px;
	background-color: #fff;
	padding: 5px 0;
	display: grid;
	grid-template-columns: 1fr 60% 1.5fr;
	grid-template-rows: 10% 70% 20%;
	align-items: center;
	border-bottom: 1px solid #bbb;
}
footer {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid #bbb;
}
.logo {
	display: flex;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	flex-direction: row;
	text-align: center;
	padding-left: 0.5em;
	margin-top: 1rem;
}

.logo img {
	width: 80px;
	height: 80px;
}
.footer-logo img {
	width: 100px;
	height: auto;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
}
.headings {
	display: flex;
	flex-direction: column;
}

.headings h3 {
	font-size: 1rem;
	margin: 0;
	padding-left: 0;
}

.social {
	display: flex;
	flex-direction: row;
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	align-items: start;
}
.social img {
	width: 32px;
	height: 32px;
}

.date {
	margin: 0.5rem;
	padding: 0.75rem;
	grid-row: 3 / 4;
	grid-column: 1 / 4;
	text-align: center;
	font-size: 1rem;
}
.naviga {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	padding-left: 0.5em;
}
/* Small/Phone View ***************/

.navigation {
	list-style: none;
	padding: 0;
	text-align: center;
	border-radius: 5px;
	background-color: rgb(207,232,220);
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: black;
}
.navigation a:hover {
	color: white;
	background-color: black;
	font-weight: 700;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.box {
	width: auto;
	border-radius: 5px;
	background-color: rgb(207,232,220);
	padding: 0.5em;
	margin: 0.5rem 0 0 0;
  }
.weather {
	  max-width: 300px;
	  margin-top: 0.5em;
	  padding: 1rem;
	  margin-left: 2rem;
  }

footer {
	  margin-top: 0.5rem;
  }

.spotlight {
	display: block;
	background-color: rgb(207,232,220);
	margin: 0.5rem 0 0 0;
	border-radius: 5px;
	text-align: center;
}
.spot3, .spot2, .spot1 {
	width: auto;
	height: 220px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	padding: 0.5em;
	margin: 0.5em 0 0 0;
}
.spot1, .spot2 {
	margin-top: 0;
}
.spot3, .join {
	display: none;
}

header, footer {
	background-color: #708080;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2rem;
}
h2 {
	padding: 1rem;
}
h3 {
	text-align: center;
	padding: 0.5em;
	font-size: large;
}
p {
	text-align: center;
	font-size: medium;
}
.address, .headings {
	padding: 0 5px;
}
.bottom-line {
	display: block;
	text-align: center;
	font-size: small;
}
#banner {
	display: none;
	margin: 0.2rem auto 0;
	border: 1px solid #bbb;
	background-color: #eee;
	padding: 0.1rem;
	text-align: center;
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	color: #536878;
}
.weather {
	display: grid;
	grid-template-rows: 20% 40% 20% 10% 10%;
	grid-template-columns: 50% 50%;
}
.weather h3 {
	grid-column: 1 / 3;
}
.weather img {
	width: 80px;
	height: auto;
	grid-row: 2 / 3;
}
.weather #temperature {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	padding-top: 1em;
	font-weight: bold;
	font-size: x-large;
}
.weather #forecast {
	grid-row: 3 / 4;
	grid-column: 1 / 3;
	padding-top: .5em;
	font-weight: bold;
	font-size: large ;
	text-align: right;
}
.weather #wind1 {
	grid-row: 4 / 5;
	grid-column: 1 / 3;
	text-align: center;
	border-top: solid;
	border-width: 2px;
	font-weight: bold;
	font-size: medium ;
}
.weather #wind2 {
	grid-row: 5 / 6;
	grid-column: 1 / 3;
	text-align: center;
	font-weight: bold;
	font-size: medium ;
}

.event #diamond {
	text-align: center;
	font-weight: bold;
	font-size: medium;
}
.event #event-paragraph {
	text-align: center;
	font-weight: bold;
	font-size: medium;
	padding: 1em 2em;
}
.join #join-us {
	font-weight: bold;
	font-size: medium ;
	padding: .5em;
	border: solid;
	border-radius: 0.5em;
	background-color: greenyellow;
}
.join #join2 {
	font-weight: bold;
	font-size: small ;
	padding-top: 1.5em;
}

.news #news2 {
	font-weight: bold;
	font-size: medium ;
	padding: 0 1em;
}
.hero {
	/*background-image: url("../images/salta1.jpg");
	background-size: cover;
	background-repeat: no-repeat;*/
	/*display: flex;*/
	position: relative;
	width: 100%;
	padding: 0 0;
}
main picture.photo {
	display: block;
	width: 100%;
}
main picture.photo img{
	width: 100%;
}

.hero img {
	width: 100%;
	padding-top: .25em;
}
.hero #join1 {
	position: absolute;
	top: 150px;
	left: 210px;
	width: 140px;
	height: 40px;
	font-weight: bold;
	font-size: medium ;
	padding: .5em;
	border: solid;
	border-radius: 0.5em;
	background-color: greenyellow;
}
.spot1 img {
	width: 80px;
	height: auto;
}
.spot2 img {
	width: 80px;
	height: 70px;
}
.spot3 img {
	width: 80px;
	height: 90px;
}
.spot1 #spot1-1 {
	font-weight: bold;
	font-size: medium ;
	padding-top: 0.5em;
	height: auto;
}
.spot1 #spot1-2 #spot1-3 {
	font-weight: bold;
	font-size: medium ;
	padding-top: 0.5em;
}
#spot1-2 {
	border-top: solid;
	border-width: 1px;
}
.info, .location {
	font-size: small;
	padding-top: 0;
}
.address h3 {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
}
#back {
	position: absolute;
	left: 50px;
	top: -30px;
}

/*discover page*/

#discover {
	display: block;
}

#discover p {
	font-size: small;
}
#discover-images {
	background-color: rgb(207,232,220);
	padding-left: 10px;
	padding-bottom: 0px;
	margin-top: 5px;
	border: 1px solid #000;
	border-radius: 5px;
}

#discover-images p {
text-align: center;
margin: 0px 10px 20px 5px;
}

#discover-images img {
	border: 1px solid #000;
    margin: 5px;
}

#discover-text {
	display: flex;
    flex-direction: column;
}

.discover-text-box {
	border: 1px solid #000;
    margin: 5px;
	text-align: center;
	padding: 0px 20px 20px 20px;
	border-radius: 5px;
	background-color: rgb(207,232,220);
}

.discover-text-box h2 {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: large;
}

.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: medium;
}

/* hover effect */
.norm:hover {box-shadow: 0 0 50px #333;}

/*-----------------JOIN---------------*/
/*-------------FORM----------------*/
#page-join {
	grid-column: 1 / 5;
	align-content: center;
	
}
#page-join form fieldset, #thanks {
	margin: 2rem 0;
	border: 1px solid #445ba9;
	border-radius: 10px;
	padding: 0.5rem 2%;
	background-color: rgb(207,232,220);
 }
 #page-join legend {
	 color: #445ba9;
	 margin: 0 1rem;
	 padding: 0 0.5rem;
 }
 #page-join form label.top, form div{
	 display: block;
	 padding-top: 1rem;
	 color: #9c2c13;
	 font-size: .8rem;
 }
 #page-join form label.top input, form label.top select,{
	 -webkit-appearance: none;
	 display: block;
	 font-size: 1rem;
	 border: 1px solid #999;
	 border-radius: 4px;
	 padding: .75rem;
	 color: #555;
	 width: 100%;
	 max-width: 20rem;
	 background-color: rgba(0, 0, 0, 0.1);
 }
 #page-join form label.sbs{
	 display: block;
	 padding: 0.75rem 0;
	 color: #555;
 }
 #page-join form input.submitBtn{
	 border: none;
	 background-color: #9c2c13;
	 color: white;
	 border-radius: 1rem;
	 padding: 0.75rem 1.5rem;
	 margin: 0 0 2rem 2%;
	 width: 96%;
	 max-width: 20rem;
 }
 #page-join form label.top input:required{
	 border-left: red solid 6px;
 }
 #page-join form label.top input:required:valid{
	 border-left: green solid 6px;
 }
 #page-join h1 {
	font-size: large;
 }
 #page-join textarea {
	width: 100%;
	height: 10rem;
	max-width: 20rem;
 }
 #thanks {
	display: block;
	grid-column: 2 / 4;
	grid-row: 1 / 4;
	align-items: center;
	align-content: center;
 }
 #thanks p {
	font-size: xx-large;
 }